{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

{# SLOGAN #}

    <h1 class="text-center fw-bold text-uppercase my-3 display-4 animate__animated animate__flipInX">Ensemble, tout est possible !</h1>



{# CAROUSEL #}
<div class="position-relative">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('images/projet.png')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <a href="{{path('app_categorie')}}"><p class="h3 fw-bold text-light pcar">Réalise ton projet avec l'ouvrier de ton choix !</p> </a>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ asset('images/location.png')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <p class="h3 fw-bold text-light pcar">Besoin d’outils temporairement ? Envie de louer ?</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ asset('images/competent.png')}}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <p class="h3 fw-bold text-light pcar">N’hésite pas à jeter un coup d’oeil aux missions proches de chez toi</p>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
</div>

</div>

<div class="container-fluid text-center h4 my-4">
<p>Quelques idéés</p>
<i data-feather="chevron-down"></i>
</div>


{# CATEGORIES #}
<section class="container">
<article class="row text-center">
    {% for categorie in categories %}
    <div class="col-lg-3 col-md-6 col-sm-6 mt-4">
        <a href="{{ path('app_categorie_show', {slug: categorie.slug })}}" class="lien-mosaic" ><img class="rounded bounce" src=" {{ asset('images/Categories/' ~ categorie.imageName )}}" alt=""></a>
        <h2 class="align-self-end w-100 text-center">{{ categorie.nom }}</h2>
    </div>
    {% endfor %}
    
</article>
</section>

<div class="container-fluid text-center h4 my-4">
<a href="{{ path('app_categorie_all')}}" class="text-dark">Autres</a>
</div>

<hr>

{# MISSIONS/LOCATIONS/AVIS #}

<section class="container">
    <article class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 text-center">
            <h1 class="fw-bold">Les dernières missions</h1>
            {% for mission in missions %}
            <div class="card mb-3">
                <div class="row g-0">
                    {# <div class="col-md-4">
                        <img src="{{ asset('images/Categories/' ~ mission.categorie.imageName )}}" class="img-fluid rounded-start" alt="...">
                    </div> #}
                    <div>
                        <div class="card-body">
                            <h5 class="card-title">{{ mission.nom }}</h5>
                            <p class="card-text">{{ mission.description }}</p>
                            <a href="{{ path('app_mission_show', {id: mission.id })}}" class="btn btn-dark" >Voir</a>
                            <p class="card-text"><small class="text-muted">Publié le {{ mission.updatedAt | date('d/m/Y') }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {# {% for location in locations %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ asset('images/Categories/' ~ location.categorie.imageName )}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ location.titre }}</h5>
                            <p class="card-text">{{ location.description }}</p>
                            <p class="card-text"><small class="text-muted">Publié le {{ location.createdAt | date('d/m/Y') }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for avis in avis %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ asset('images/Categories/' ~ avis.categorie.imageName )}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ avis.titre }}</h5>
                            <p class="card-text">{{ avis.description }}</p>
                            <p class="card-text"><small class="text-muted">Publié le {{ avis.createdAt | date('d/m/Y') }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} #}
        </div>
    </article>
</section>

{% endblock %}
