{% extends 'base.html.twig' %}

{% block title %}Sous catégorie{% endblock %}

{% block body %}
<section class="container">
<article class="row text-center my-4 ">
    
    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/bricolage.jpeg')}}" alt=""></a>
        <h2>Bricolage</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/jardinage.jpeg')}}" alt=""></a>
        <h2>Jardinage</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/montageDeMeuble.jpeg')}}" alt=""></a>
        <h2>Montage de meuble</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/peinture.jpeg')}}" alt=""></a>
        <h2>Peinture</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/terrasse.jpeg')}}" alt=""></a>
        <h2>Pose terrasse</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/demenagement.jpeg')}}" alt=""></a>
        <h2>Déménagement</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/outils.jpeg')}}" alt=""></a>
        <h2>Outils</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/nettoyage.jpeg')}}" alt=""></a>
        <h2>Nettoyage</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/mecanique.jpeg')}}" alt=""></a>
        <h2>Mécanique</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/electricite.jpeg')}}" alt=""></a>
        <h2>Electricité</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded" src=" {{ asset('images/Categories/plomberie.jpeg')}}" alt=""></a>
        <h2>Plomberie</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/location.jpeg')}}" alt=""></a>
        <h2>Location</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/informatique.jpeg')}}" alt=""></a>
        <h2>Informatique</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/renovation.jpeg')}}" alt=""></a>
        <h2>Renovation</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/menuiserie.jpeg')}}" alt=""></a>
        <h2>Menuiserie</h2>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <a href="{{ path('app_sous_categorie')}}"><img class="rounded img-fluid" src=" {{ asset('images/Categories/autres.jpeg')}}" alt=""></a>
        <h2>Autres</h2>
    </div>
</article>
</section>
{% endblock %}
