{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ demande.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demande.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ demande.startDate ? demande.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ demande.localisation }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ demande.imageName }}</td>
            </tr>
            <tr>
                <th>Vehicule</th>
                <td>{{ demande.vehicule }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ demande.budget }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user') }}">Mon espace</a>

    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">Modifier</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
