{% extends 'base-backend.html.twig' %}
{% block title %}Sous Categories{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Sous Categories</h1>
    <a href="{{ path('app_admin_sous_categorie_new') }}" class="btn btn-dark">Nouveau</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Image_name</th>
                {# <th>Updated_at</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_categorie in sous_categories %}
            <tr>
                <td>{{ sous_categorie.id }}</td>
                <td>{{ sous_categorie.nom }}</td>
                <td>{{ sous_categorie.slug }}</td>
                <td>{{ sous_categorie.imageName }}</td>
                {# <td>{{ sous_categorie.updatedAt ? sous_categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_admin_sous_categorie_show', {'id': sous_categorie.id}) }}" class= "btn btn-dark">Afficher</a>
                    <a href="{{ path('app_admin_sous_categorie_edit', {'id': sous_categorie.id}) }}"class= "btn btn-dark">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
