{% extends 'base-backend.html.twig' %}
{% block title %}Categories{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Categories</h1>
    <a href="{{ path('app_admin_categorie_new') }}" class="btn btn-dark">Nouveau</a>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Image_name</th>
                {# <th>Updated_at</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.slug }}</td>
                <td>{{ categorie.imageName }}</td>

                {# <td>{{ categorie.updatedAt ? categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_admin_categorie_show', {'id': categorie.id}) }}" class= "btn btn-dark">Afficher</a>
                    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}" class= "btn btn-dark">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
