{% extends 'base-backend.html.twig' %}
{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ categorie.slug }}</td>
            </tr>
            <tr>
                <th>Image_name</th>
                <td>{{ categorie.imageName }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ categorie.updatedAt ? categorie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_categorie_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_categorie_edit', {'id': categorie.id}) }}"class= "btn btn-dark">Modifier</a>

    {{ include('admin_categorie/_delete_form.html.twig') }}
{% endblock %}
