{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <h1 class="ms-3 mt-3">Location</h1>
    <h3 class="ms-3 mb-3">{{ location.nom}}</h3>

    <div class="position-relative">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('images/Locations/' ~ location.imageName )}}" class="d-block w-100" height="800" alt="...">
            <div class="carousel-caption d-md-block">
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ asset('images/Locations/' ~ location.imageName )}}" class="d-block w-100" height="800" alt="...">
            <div class="carousel-caption d-md-block">
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ asset('images/Locations/' ~ location.imageName )}}" class="d-block w-100" height="800" alt="...">
            <div class="carousel-caption d-md-block">
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
</div>

</div>

<section class="container-fluid">
    <table class="table mt-3">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ location.description }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ location.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ location.updatedAt ? location.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
</section>

<h2 class="btn btn-dark ms-3"><a class="text-white" href="{{ path('app_location_index') }}">Toutes les missions</a></h2>

{% endblock %}
