{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<h1 class="ms-2"> Profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>

<div class="row">
    <div class="col-md-6">

        <div>
            <a href="{{ path('app_editprofile') }}" class="btn btn-dark">Modifier le profil</a>
            <a href="{{ path('app_forgot_password_request') }}" class="btn btn-dark">Modifier le mot de passe</a>

        </div>

<div>
    <h1>Demande de{{ app.user.pseudo }}</h1>
</div>

{% for demandes in app.user.demandes %}
    <table class="table container">
        <th class="row">
            
            <th class="col">
                <h2>Titre</h2>
                <p>{{ demandes.titre }}</p>
            </th>

            <th class="col">
                <h2>description</h2>
                <p>{{ demandes.description }}</p>
            </th>

            <th>
                <h2>Action</h2>
                <a href="{{ path('app_demande_show', {'id': demandes.id}) }}" class="btn btn-dark">Voir la demande</a>
            </th>

        </th>
    </table>
        
        
{% endfor %}

{% endblock %}
